In [2]:
import pandas as pd

In [49]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [50]:
# dropping columns that are useless like name has no relation with Survived
df.drop(['Name', 'SibSp','PassengerId', 'Parch',  'Ticket','Cabin', 'Embarked'],axis = 'columns' ,inplace = True)

In [51]:
inputs = df.drop('Survived', axis = "columns")
inputs.head()

target = df.Survived
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [52]:
# converting sex columns into dummy colms


dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [53]:
# now concat dummies with inputs columns
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [54]:
# now we have female and male dummies
inputs.drop('Sex', axis = "columns", inplace = True)
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [55]:
# lets check out if any columns have na values
inputs.columns[inputs.isna().any()]

# column Age have Na values Index(['Age']

Index(['Age'], dtype='object')

In [22]:
inputs.Age[:10] #first 10 values

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [56]:
inputs.Age = inputs.Age.fillna(inputs.Age.interpolate()) #instead of interpolate, mean() can be used
inputs.head(10)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1
5       3  44.5   8.4583       0     1
6       1  54.0  51.8625       0     1
7       3   2.0  21.0750       0     1
8       3  27.0  11.1333       1     0
9       2  14.0  30.0708       1     0

In [60]:
# Lets# lets do train and test splitting
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.3) #do some training on the model

In [61]:
len(x_train)

623

In [62]:
len(x_test)

268

In [63]:
# Lets import some NaiveBeys data packages
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [71]:
model.fit(inputs, target)

GaussianNB()

In [65]:
# model.predict([[2, 45.000000, 18.3400, 0, 1]])

array([0], dtype=int64)

In [72]:
# some accuracy
model.score(x_test, y_test)

0.7985074626865671

In [73]:
y_test[:10]

36     1
856    1
68     1
123    1
857    1
694    0
190    1
391    1
626    0
692    1
Name: Survived, dtype: int64

In [74]:
model.predict(x_test[:10])

array([0, 1, 1, 1, 0, 0, 1, 0, 0, 0], dtype=int64)

In [75]:
model.predict_proba(x_test[:10])

array([[9.90091975e-01, 9.90802474e-03],
       [1.18465127e-06, 9.99998815e-01],
       [5.42763554e-02, 9.45723645e-01],
       [3.10403621e-02, 9.68959638e-01],
       [9.21813069e-01, 7.81869314e-02],
       [9.14301610e-01, 8.56983895e-02],
       [3.09352720e-02, 9.69064728e-01],
       [9.88849810e-01, 1.11501901e-02],
       [9.77368289e-01, 2.26317110e-02],
       [9.75652321e-01, 2.43476791e-02]])

# Spam detection by Naive Bayes

In [76]:
df = pd.read_csv("spam.csv")
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [78]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [80]:
# lets make some labeling for category in the name of spam
df['Spam'] = df.Category.apply(lambda x : 1 if x == "spam" else 0)
df

     Category                                            Message  Spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will Ã¼ b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [81]:
x_train, x_test, y_train, y_test = train_test_split(df.Message, df.Spam, test_size = 0.25) #do some training on the model

In [82]:
from sklearn.feature_extraction.text import CountVectorizer
V = CountVectorizer()
x_train_count =  V.fit_transform(x_train.values)
x_train_count.toarray()[:3]
# corpus is all unique words that u see in daata sets

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [85]:
# for discrete datasets we use Multinomial naive bayes
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

model.fit(x_train_count, y_train)

# x_train_count is email messages converted into number metrices

MultinomialNB()

In [95]:
# Lets make testing of hardcode values
emails = [
    'hey ankit, lets go for football match.',
    'upto ten percent less on parking, only package just for you. limited time span left',
    'Get 23% discount on cinema tickets, You can availe this exclusive offer'
]
email_count = V.transform(emails)
model.predict(email_count)

array([0, 0, 1], dtype=int64)

In [96]:
x_test_count = V.transform(x_test)
model.score(x_test_count, y_test)

0.9870782483847811

<!-- we can use pipleline method instead of vector classifier without converting it to x_train_count ...so on -->

In [98]:
from sklearn.pipeline import Pipeline
# classify it base on first vectorization then apply multinomial NB
clf = Pipeline([
    ("vectorizer", CountVectorizer()),
    ('mnb', MultinomialNB())
])

In [100]:
# Now we can directly pass xtrain and xtest
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('mnb', MultinomialNB())])

In [101]:
clf.score(x_test, y_test)

# score is same by both method but only on you to use which one

0.9870782483847811

In [102]:
clf.predict(emails)

array([0, 0, 1], dtype=int64)

## Excercise

In [104]:
from sklearn.datasets import load_wine
wine = load_wine()

In [105]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [115]:
output = wine.target

In [123]:
df = pd.DataFrame(wine.data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [130]:
output = df.drop(wine['target'], axis = 'columns')
output

       3      4     5     6     7     8      9     10    11      12
0    15.6  127.0  2.80  3.06  0.28  2.29   5.64  1.04  3.92  1065.0
1    11.2  100.0  2.65  2.76  0.26  1.28   4.38  1.05  3.40  1050.0
2    18.6  101.0  2.80  3.24  0.30  2.81   5.68  1.03  3.17  1185.0
3    16.8  113.0  3.85  3.49  0.24  2.18   7.80  0.86  3.45  1480.0
4    21.0  118.0  2.80  2.69  0.39  1.82   4.32  1.04  2.93   735.0
..    ...    ...   ...   ...   ...   ...    ...   ...   ...     ...
173  20.5   95.0  1.68  0.61  0.52  1.06   7.70  0.64  1.74   740.0
174  23.0  102.0  1.80  0.75  0.43  1.41   7.30  0.70  1.56   750.0
175  20.0  120.0  1.59  0.69  0.43  1.35  10.20  0.59  1.56   835.0
176  20.0  120.0  1.65  0.68  0.53  1.46   9.30  0.60  1.62   840.0
177  24.5   96.0  2.05  0.76  0.56  1.35   9.20  0.61  1.60   560.0

[178 rows x 10 columns]

In [132]:
x_train, x_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size = 0.25) #do some training on the model

In [133]:
len(x_train)

133

In [134]:
len(x_test)

45

In [153]:
# Lets import some NaiveBeys data packages
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [156]:
model.fit(x_train, y_train)

GaussianNB()

In [157]:
model.score(x_test, y_test)

1.0

In [135]:
# for discrete datasets we use Multinomial naive bayes
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

model.fit(x_train, y_train)

MultinomialNB()

In [138]:
model.predict_proba(x_test)

array([[9.99999999e-01, 1.06575536e-14, 6.31580131e-10],
       [6.25170334e-12, 5.09276727e-02, 9.49072327e-01],
       [1.00000000e+00, 7.48508604e-18, 3.93287498e-13],
       [8.77603742e-08, 3.00886503e-02, 9.69911262e-01],
       [9.99999997e-01, 8.01766209e-14, 2.95797282e-09],
       [3.97091609e-07, 2.69612515e-03, 9.97303478e-01],
       [1.29324303e-09, 7.55584890e-03, 9.92444150e-01],
       [6.23550141e-01, 2.10794156e-02, 3.55370443e-01],
       [1.00000000e+00, 1.20080455e-28, 1.42838056e-20],
       [3.08676548e-13, 9.98668120e-01, 1.33188047e-03],
       [1.00000000e+00, 7.93648167e-17, 3.76265239e-12],
       [3.45549979e-04, 1.22167993e-03, 9.98432770e-01],
       [1.02433897e-07, 2.30981689e-02, 9.76901729e-01],
       [1.81579088e-17, 7.08660753e-01, 2.91339247e-01],
       [1.00000000e+00, 3.76433811e-22, 2.38687358e-15],
       [8.26406876e-05, 6.58317631e-01, 3.41599728e-01],
       [4.85862469e-07, 6.73484975e-04, 9.99326029e-01],
       [4.53649141e-06, 4.72577558e-05, 9.99948206e-01],
       [4.77831168e-17, 9.99784307e-01, 2.15692946e-04],
       [3.14495792e-06, 8.51905406e-01, 1.48091449e-01],
       [9.49518529e-13, 9.95775492e-01, 4.22450818e-03],
       [6.81702050e-07, 2.02010887e-02, 9.79798230e-01],
       [7.87215728e-20, 9.62956139e-01, 3.70438612e-02],
       [4.42655698e-12, 9.97759582e-01, 2.24041829e-03],
       [1.07447126e-12, 1.32625546e-01, 8.67374454e-01],
       [3.80018420e-22, 9.98470822e-01, 1.52917767e-03],
       [2.74091464e-19, 9.99975554e-01, 2.44462636e-05],
       [1.69168356e-14, 9.99839936e-01, 1.60063850e-04],
       [1.00000000e+00, 4.06481054e-25, 3.08327644e-17],
       [6.79700761e-06, 4.28759270e-01, 5.71233933e-01],
       [1.00000000e+00, 1.21459097e-20, 3.82195331e-14],
       [1.00000000e+00, 7.17749914e-18, 4.33569343e-13],
       [2.63231691e-07, 1.67130443e-03, 9.98328432e-01],
       [3.11333388e-13, 9.98048042e-01, 1.95195841e-03],
       [2.05934283e-08, 2.85872524e-03, 9.97141254e-01],
       [9.99999992e-01, 2.75587757e-12, 7.86029166e-09],
       [1.00000000e+00, 7.90810844e-21, 7.29748481e-15],
       [1.19476465e-06, 1.57894743e-03, 9.98419858e-01],
       [9.99979050e-01, 6.83692947e-08, 2.08818977e-05],
       [9.99654314e-01, 5.34076571e-06, 3.40344864e-04],
       [1.00000000e+00, 3.76711806e-40, 3.68087959e-29],
       [9.99999999e-01, 2.26961586e-14, 9.81089753e-10],
       [7.13929152e-02, 3.37861468e-01, 5.90745617e-01],
       [1.00000000e+00, 4.18317746e-16, 6.89067276e-11],
       [7.54788624e-03, 7.85913776e-03, 9.84592976e-01]])

In [139]:
model.score(x_test, y_test)

0.8888888888888888

In [146]:
y_test[:10]

array([0, 2, 0, 2, 0, 2, 2, 0, 0, 1])